<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="webapp" />
    <link rel="icon" th:href="@{favicon.ico}" />

    <title th:text="#{app.nome} + ' - ' + #{home.titulo}"></title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap-4.1.1/css/bootstrap.min.css" rel="stylesheet"></link>
    <link href="/app/css/app.css" rel="stylesheet" type="text/css" />

  </head>

  <body>

    <header th:include="fragments/header :: header"></header>

    <main role="main" class="container">
      <h1 class="mt-5" th:text="#{home.titulo}"></h1>
    </main>

    <div th:include="fragments/footer :: footer"></div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="/jquery/jquery-3.3.1.js"></script>
    <script src="/bootstrap-4.1.1/js/bootstrap.js"></script>

  </body>
</html>